body {
    display:flex;
    align-items: flex-start;

}

.blue {
    background-color: blue;
    padding: 20px;
    
}
.yo {
    background-color: yellow;
    padding: 20px;
    margin: 10px;
    
}
.red {
    background-color:yellow;
    padding-right:80px ;
}

.flex{
 display: flex;
}

.green {
     background-color:yellow(212, 247, 17);
    padding-bottom:80px ;
}